.background {
  background-image: linear-gradient(to bottom, #311e33, #452b44);
  height: 100vh;

  display: flex;
}

.leftSide {
  /* background-color: white; */
  color: white;
  width: 50vw;
  height: 100vh;

  display: flex;

  position: relative;
}

.image-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 50vw;

  transition: transform 0.5s ease-in-out;
}

.image-wrapper.slide-in {
  transform: translateX(100%);
}

.image-wrapper.slide-out {
  transform: translateX(-100%);
}

.imgCard {
  width: 98%;
  height: 98vh;
  border-radius: 20px;
  box-shadow: 0 12px 24px 0 rgba(0, 0, 0, 0.25),
    0 18px 40px 0 rgba(0, 0, 0, 0.15), 0 24px 48px 0 rgba(100, 100, 100, 0.1);
    will-change: transform;
    transition: transform 3s ease-in-out;
}

#overlayText {
  position: absolute;
}

.logo {
  text-align: center;
  top: 3%;
  left: 4%;
  font-size: 1.5vw;
  font-family: 'Audiowide', cursive;
}

.slogan {
  font-family: 'Roboto', sans-serif;
  font-size: 2vw;
  font-weight: 400;
  line-height: 1.2;

  background-color: rgba(13, 13, 27, 0.6);
  transition: background-color 0.3s ease;
  width: 98%;
  padding: 10px 0;

  left: 50%;
  bottom: 12%;
  text-align: center;
  transform: translate(-50%, 0);
}

.imageSelector {
  /* background-color: white; */
  width: 12vw;
  height: 3vh;

  position: absolute;
  bottom: 3vh;
  left: 50%;
  transform: translate(-50%, 0);

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.selectors {
  background-color: rgba(104, 111, 165, 0.6);
  width: 22%;
  height: 20%;

  border-radius: 10px;
}

.selectors.active {
  background-color: rgb(255, 255, 255);
  width: 28%;
}

/* Right Side */

.rightSide {
  width: 50vw;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
}

.rightSideText {
  font-family: 'Roboto', sans-serif;
  font-size: 2vw;
  font-weight: 600;
  line-height: 1.2;
  margin-bottom: 20px;

  text-align: center;

  color: white;
}

form input, form button {
  margin-bottom: 10px;
}

form .button input {
  height: 100%;
  width: 100%;
  padding: 10px;
  border-radius: 10px;
  border: none;
  margin-top: 10px;

  box-shadow: 0 12px 24px 0 rgba(0, 0, 0, 0.25),
    0 18px 40px 0 rgba(0, 0, 0, 0.15), 0 24px 48px 0 rgba(100, 100, 100, 0.1);
  background-color: rgba(165, 67, 221, 0.6);
  color: white;

  font-family: 'Roboto', sans-serif;
}

form .button input:hover {
  cursor: pointer;

  background-color: rgba(203, 113, 255, 0.6);
  box-shadow: 0 12px 24px 0 rgba(29, 29, 29, 0.25),
    0 18px 40px 0 rgba(27, 27, 27, 0.15), 0 24px 48px 0 rgba(100, 100, 100, 0.1);
}

input[type="email"] {
  width: 100%;
}